:root {
  --purple: #865ddd;
  --yellow: #ffb44a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-forget-parent {
  height: 200px;
  width: 300px;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-pass-heading {
  height: 35px;
  width: 300px;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.forget-pass-desc {
  height: 30px;
  width: 180px;
  /* background-color: violet; */
  display: flex;
}

.forget-pass-text {
  font-size: 10px;
}

.email-id-forget-pass {
  height: 70px;
  width: 300px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.enter-your-email-id{
    color: grey;
    margin-top: 10px;
}

.forget-email-input {
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  font-size: 12px;
}

.forget-pass-headingss{
    color: var(--purple);
}

.forget-email-input:focus{
    outline: 0;
}

.rember-pass-login-instead {
  height: 15px;
  width: 300px;
  /* background-color: cornflowerblue; */
  display: flex;
  justify-content: flex-end;
}

.rember-pass-login-instead-text {
  font-size: 10px;
  color: var(--purple);
  cursor: pointer;
}

.forget-foot-btn {
  height: 40px;
  width: 300px;
  /* background-color: crimson; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.send-footer-btn{
    background-color: var(--yellow);
    color: #fff;
    border: 0;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    
}
